# Data and Outputs
data/
results/
resources/
*.nc
*.tif
*.csv
*.parquet
*.ipynb
*.zarr/

# Secrets
.env

# Python
__pycache__/
.ipynb_checkpoints/
.venv/
.vscode/

# pixi environments
.pixi
*.egg-info
